@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Fauna+One); /* serif */
@import url(http://fonts.googleapis.com/css?family=Righteous); /* cursive */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,300); /* sans-serif */
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,700); /* sans-serif */

@font-face {
	font-family: 'algotrader';
	src: url('fonts/algotrader.eot');
	src: url('fonts/algotrader.eot?#iefix') format('embedded-opentype'), url('fonts/algotrader.woff') format('woff'), url('fonts/algotrader.ttf') format('truetype'), url('fonts/algotrader.svg#algotrader') format('svg');
	font-weight: normal;
	font-style: normal;
}

html {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	font-size: .625em;
}

body {
	font-family: 'Open Sans', sans-serif;
	background-color: #fff;
	color: #444;
	font-size: 1.2em;
	margin: 0;
	padding: 0;
	height: 100%;
}

a {
	outline: none;
	text-decoration: underline;
}

	a:link, a:visited, a:active, a:hover {
		color: #444;
	}

header, footer, hgroup,
nav, section {
	display: block;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.clear {
	clear: right;
	display: block;
}

.clear-fix:after {
	content: ".";
	clear: both;
	display: block;
	height: 0;
	visibility: hidden;
}

h1, h2, h3,
h4, h5, h6 {
	color: #000;
}

h1 {
	font-size: 4em;
	font-weight: 300;
}

h2 {
	font-size: 1.75em;
}

h5 a:link, h5 a:visited, h5 a:active {
	padding: 0;
	text-decoration: none;
}

.green {
	color: green;
}

.red {
	color: red;
}

.subtext {
	font-weight: 300;
	color: gray;
}

/* main layout
----------------------------------------------------------*/

.content-wrapper {
	margin: 0;
	min-width: 960px;
	height: 100%;
}

#body {
	clear: both;
	height: 100%;
}

.main-content {
	/*background: url("../Images/accent.png") no-repeat;*/
	padding: 0px;
	height: 100%;
	min-height: 70vh;
}

.featured + .main-content {
	/*background: url("../Images/heroAccent.png") no-repeat;*/
}

header .content-wrapper {
	padding-top: 25px;
	padding-left: 15px;
	position: relative;
}

footer {
	border-top: 1px solid #eee;
	clear: both;
	padding-left: 20px;
	padding-right: 20px;
}

.panel-wrapper {
	overflow: hidden;
}

	.panel-wrapper > .panel-watchlist {
		background-color: aliceblue;
		width: 250px;
		float: left;
		padding: 10px 0px 10px 0px;
		padding-bottom: 100000px;
		margin-bottom: -100000px;
		margin-right: 10px;
	}

.panel-watchlist input[type="radio"] {
	margin: 0;
	padding: 0;
	display: none;
}

	.panel-watchlist input[type="radio"] + label {
		padding: 5px 10px 5px 8px;
		margin: 0px;
		cursor: pointer;
		display: block;
		font-size: 1.2em;
	}

		.panel-watchlist input[type="radio"] + label:hover {
			background-color: rgba(0, 191, 255, 0.1);
		}

	.panel-watchlist input[type="radio"]:checked + label {
		background-color: deepskyblue;
		font-weight: 700;
	}

.panel-watchlist label.header {
	text-transform: uppercase;
	padding-left: 10px;
}

.panel-wrapper > .maincontent {
	margin-left: 260px;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 100000px;
	margin-bottom: -100000px;
	min-height: 70vh;
}

.input-group {
	text-align: center;
	padding-bottom: 20px;
}

/* site title
----------------------------------------------------------*/
.site-title {
	font-family: 'Righteous', cursive;
	font-size: 6.5em;
	line-height: 50px;
	font-weight: bold;
	position: relative;
	text-transform: uppercase;
}

	.site-title a {
		background: none;
		outline: none;
		text-decoration: none;
		-webkit-text-shadow: 0px 0px 0px rgba(0,0,0,0);
		text-shadow: 0px 0px 0px rgba(0,0,0,0);
		-moz-transition: all .25s ease;
		-o-transition: all .25s ease;
		-webkit-transition: all .25s ease;
		transition: all .25s ease;
	}

		.site-title a:hover, .site-title a:active {
			-webkit-text-shadow: 0px 0px 10px #444;
			text-shadow: 0px 0px 10px #444;
		}


/* login
----------------------------------------------------------*/
#login {
	display: block;
	font-size: .85em;
	margin: 0 0 10px;
	text-align: right;
}

	#login a {
		background-color: #d3dce0;
		margin-left: 10px;
		margin-right: 3px;
		padding: 2px 3px;
		text-decoration: none;
	}

		#login a.username {
			background: none;
			margin-left: 0px;
			text-decoration: underline;
		}

	#login ul {
		margin: 0;
	}

	#login li {
		display: inline;
		list-style: none;
	}


/* nav
----------------------------------------------------------*/
ul#menu {
	font-size: 2em;
	font-weight: 300;
	text-align: right;
	position: absolute;
	right: 0px;
	text-transform: uppercase;
}

	ul#menu li {
		display: inline;
		list-style: none;
	}

		ul#menu li a {
			background: none;
			text-decoration: none;
			padding-left: 20px;
			padding-right: 20px;
			-moz-transition: all .15s ease;
			-o-transition: all .15s ease;
			-webkit-transition: all .15s ease;
			transition: all .15s ease;
		}

			ul#menu li a:hover {
				color: white;
				background-color: lightsteelblue;
			}

			ul#menu li a.selected {
				-moz-transition: none;
				-o-transition: none;
				-webkit-transition: none;
				transition: none;
				color: white;
				background-color: #CCC;
			}

/* page elements
----------------------------------------------------------*/
/* featured */
.featured {
}

	.featured .content-wrapper {
		background-color: #eee;
		padding: 5px 20px 5px 20px;
	}

	.featured hgroup.title h1, .featured hgroup.title h2 {
		color: #444;
		-moz-animation: fadeIn .5s ease;
		-o-animation: fadeIn .5s ease;
		-webkit-animation: fadeIn .5s ease;
		animation: fadeIn .5s ease;
		-moz-animation-delay: .25s;
		-o-animation-delay: .25s;
		-webkit-animation-delay: .25s;
		animation-delay: .25s;
		-o-animation-fill-mode: both;
		-webkit-animation-fill-mode: both;
		animation-fill-mode: both;
	}

/* page titles */
hgroup.title {
}

	hgroup.title h1, hgroup.title h2 {
		display: inline;
	}

.label {
	font-weight: 700;
}

/* login page */
#loginForm {
	border-right: solid 2px #c8c8c8;
	float: left;
	width: 55%;
}

	#loginForm .validation-error {
		display: block;
		margin-left: 15px;
	}

#socialLoginForm {
	margin-left: 40px;
	float: left;
	width: 40%;
}

	#socialLoginForm h2 {
		margin-bottom: 5px;
	}

fieldset.open-auth-providers {
	margin-top: 15px;
}

	fieldset.open-auth-providers button {
		margin-bottom: 12px;
	}

/* contact */
.contact h3 {
	font-size: 1.2em;
}

.contact p {
	margin: 5px 0 0 10px;
}

.contact iframe {
	border: 1px solid #333;
	margin: 5px 0 0 10px;
}

/* forms */
label {
	display: inline;
}

	label.checkbox {
		display: inline;
	}

input, textarea, select {
	border: 1px solid #999;
	color: #333;
	border-radius: 3px;
	-moz-transition: all .15s ease;
	-o-transition: all .15s ease;
	-webkit-transition: all .15s ease;
	transition: all .15s ease;
}

	input[type="text"] {
		padding: 8px;
		-webkit-box-shadow: 0px 0px 2px rgba(0,0,0,.5) inset;
		box-shadow: 0px 0px 2px rgba(0,0,0,.5) inset;
	}

	input:focus, textarea:focus {
		outline-color: deepskyblue;
		-webkit-box-shadow: 0px 0px 5px deepskyblue;
		box-shadow: 0px 0px 5px deepskyblue;
	}

	input[type="submit"],
	input[type="button"],
	button {
		background-color: #eee;
		cursor: pointer;
		font-weight: 700;
		text-transform: uppercase;
		padding: 8px 15px 8px 15px;
		-webkit-text-shadow: 0px 1px 0px rgba(255,255,255,.5);
		text-shadow: 0px 1px 0px rgba(255,255,255,.5);
		-webkit-box-shadow: 0px 0px 1px rgba(0,0,0,.5);
		box-shadow: 0px 0px 1px rgba(0,0,0,.5);
		-moz-transition: all .15s ease;
		-o-transition: all .15s ease;
		-webkit-transition: all .15s ease;
		transition: all .15s ease;
	}

		input[type="submit"]:hover {
			background-color: #999;
			-webkit-box-shadow: 0px -0px 1px rgba(255,255,255,.7) inset;
			box-shadow: 0px -0px 1px rgba(255,255,255,.7) inset;
		}

		input[type="submit"].symbol-button {
			font-family: 'Open Sans', sans-serif;
			font-family: algotrader;
			font-weight: normal;
			font-variant: normal;
			text-transform: none;
			line-height: 1;
			padding: 9px 15px 9px 15px;
			-webkit-font-smoothing: antialiased;
		}

	input.delete {
		background-color: rgba(255,0,0,.5);
	}

		input.delete:hover {
			background: darkred;
		}

	input[type="button"].toggle {
		height: 38px;
		width: 38px;
		vertical-align: central;
		border-radius: 50px;
	}

		input[type="button"].toggle:hover {
			background-color: #999;
		}

	input[type="checkbox"].onoffswitch-checkbox {
		display: none;
	}

.onoffswitch {
	position: relative;
	width: 90px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.onoffswitch-checkbox {
	display: none;
}

.onoffswitch-label {
	display: block;
	overflow: hidden;
	cursor: pointer;
	border: 2px solid #999999;
	border-radius: 20px;
}

.onoffswitch-inner {
	width: 200%;
	margin-left: -100%;
	-moz-transition: margin 0.3s ease-in 0s;
	-webkit-transition: margin 0.3s ease-in 0s;
	-o-transition: margin 0.3s ease-in 0s;
	transition: margin 0.3s ease-in 0s;
}

	.onoffswitch-inner:before, .onoffswitch-inner:after {
		float: left;
		width: 50%;
		height: 30px;
		padding: 0;
		line-height: 30px;
		font-size: 1.4em;
		color: white;
		font-family: Trebuchet, Arial, sans-serif;
		font-weight: bold;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

	.onoffswitch-inner:before {
		content: "ON";
		padding-left: 10px;
		background-color: #2FCCFF;
		color: #FFFFFF;
	}

	.onoffswitch-inner:after {
		content: "OFF";
		padding-right: 10px;
		background-color: #EEEEEE;
		color: #999999;
		text-align: right;
	}

.onoffswitch-switch {
	width: 18px;
	margin: 6px;
	background: #FFFFFF;
	border: 2px solid #999999;
	border-radius: 20px;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 56px;
	-moz-transition: all 0.3s ease-in 0s;
	-webkit-transition: all 0.3s ease-in 0s;
	-o-transition: all 0.3s ease-in 0s;
	transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
	margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
	right: 0px;
}

/* info and errors */
.message-wrapper {
	position: absolute;
	width: 500px;
	top: 150px;
	margin-left: 50%;
	left: -262px;
	-webkit-box-shadow: 0px 1px 2px rgba(0,0,0,.5);
	box-shadow: 0px 1px 2px rgba(0,0,0,.5);
	-moz-animation: messageFadeOut 5s ease;
	-o-animation: messageFadeOut 5s ease;
	-webkit-animation: messageFadeOut 5s ease;
	animation: messageFadeOut 5s ease;
	-o-animation-fill-mode: both;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

.message-success, .message-fail {
	border: 1px solid;
	border-radius: 2px;
	padding: 5px;
	text-align: center;
	position: absolute;
	width: 500px;
	margin-left: 50%;
	top: 120px;
	left: -262px;
	-webkit-box-shadow: 0px 1px 2px rgba(0,0,0,.5);
	box-shadow: 0px 1px 2px rgba(0,0,0,.5);
	-moz-animation: messageFadeOut 5s ease;
	-o-animation: messageFadeOut 5s ease;
	-webkit-animation: messageFadeOut 5s ease;
	animation: messageFadeOut 5s ease;
	-o-animation-fill-mode: both;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

.message-success {
	border-color: darkgreen;
	background: lightgreen;
}

.message-fail {
	border-color: darkred;
	background: salmon;
}

/* tables
----------------------------------------------------------*/
table {
	border-spacing: 0;
	border: 0 none;
	width: 100%;
}

	table.main {
		border: 1px solid #E4E4E4;
		font-size: 1.4em;
		margin-bottom: 10px;
		border-radius: 5px;
		-webkit-box-shadow: 0px 1px 1px rgba(0,0,0,.2);
		box-shadow: 0px 1px 1px rgba(0,0,0,.2);
	}

		table.main input {
			font-size: .71em;
		}

	table.sub {
		font-size: .9em;
	}

th {
	color: dimgray;
	text-align: left;
	border: none 0px;
	text-transform: uppercase;
}

	th a {
		display: block;
		position: relative;
	}

		th a:link, th a:visited, th a:active, th a:hover {
			color: #333;
			font-weight: 600;
			text-decoration: none;
			padding: 0;
		}

		th a:hover {
			color: #000;
		}

	th.asc a, th.desc a {
		margin-right: .75em;
	}

		th.asc a:after, th.desc a:after {
			display: block;
			position: absolute;
			right: 0em;
			top: 0;
			font-size: 0.75em;
		}

		th.asc a:after {
			content: '▲';
		}

		th.desc a:after {
			content: '▼';
		}

tr {
	background-color: none;
}

	tr.main:hover, tr.main:active {
		background-color: #eee;
	}

@-moz-keyframes fadeIn {
	from {
		margin-left: 25%;
		opacity: 0;
	}

	to {
		margin-left: 0%;
		opacity: 1;
	}
}

@-webkit-keyframes fadeIn {
	from {
		margin-left: 25%;
		opacity: 0;
	}

	to {
		margin-left: 0%;
		opacity: 1;
	}
}

@keyframes fadeIn {
	from {
		margin-left: 25%;
		opacity: 0;
	}

	to {
		margin-left: 0%;
		opacity: 1;
	}
}

@-moz-keyframes messageFadeOut {
	0% {
		opacity: 0;
		top: 90px;
	}

	10% {
		opacity: 1;
		top: 120px;
	}

	90% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}


@-webkit-keyframes messageFadeOut {
	0% {
		opacity: 0;
		top: 90px;
	}

	10% {
		opacity: 1;
		top: 120px;
	}

	90% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}


@keyframes messageFadeOut {
	0% {
		opacity: 0;
		top: 90px;
	}

	10% {
		opacity: 1;
		top: 120px;
	}

	90% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}
