<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
      <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    </configSections>

    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
 
    <system.serviceModel>
      <services>
        <service name="AlgoTrader.strategy.ThreeDucksStrategy" behaviorConfiguration="ATStrategySvcBehavior" >
          <host>
            <baseAddresses>
              <add baseAddress="http://localhost:8000/AlgoTrader/services/ATStrategySvc"/>
            </baseAddresses>
          </host>
          <endpoint address="" binding="wsHttpBinding" contract="AlgoTrader.Interfaces.IStrategy"/>
          <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        </service>
       </services>
      <behaviors>
        <serviceBehaviors>
          <behavior name="ATStrategySvcBehavior">
            <serviceMetadata httpGetEnabled="true"/>
            <serviceDebug includeExceptionDetailInFaults="true" />
          </behavior>
        </serviceBehaviors>
      </behaviors>
    </system.serviceModel>

    <log4net>
      <appender name="FileAppender" type="log4net.Appender.FileAppender">
        <file value="ATStrategySvc.log" />
        <appendToFile value="true" />
        <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
        </layout>
      </appender>
      <root>
        <level value="INFO" />
        <appender-ref ref="FileAppender" />
      </root>
    </log4net>
</configuration>